@function getColumnWidth($width, $count) {
  // $columnWidthを計算
  $padding: 10px;
  $columnWidth: floor(($width - ($padding * ($count - 1))) / $count);
  @debug $columnWidth;
  @return $columnWidth;
}

@mixin round($radius:4px) {
  border-radius: $radius;
}

.label {
  font-size: 12px;
  @include round(10px);
}